@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e3f2fd;
}

.container {
    position: relative;
    background-color: black;
    background-size: cover;
    padding: 20px;
    border-radius: 28px;
    max-width: 380px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0 0.1);
}

header,
.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 68px;
}

h5 {
    color: #e3f2fd;
}

header .chip {
    width: 60px;
}

h6 {
    color: #fff;
    font-size: 12px;
}

.container .detalhes-do-cartao {
    margin: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}

.name-number {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    left: 500;
}